POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=myPassword
POSTGRES_HOST=mydbinstance.csxbuclmtj3c.us-east-1.rds.amazonaws.com
POSTGRES_DB=postgres
AWS_BUCKET=arn:aws:s3:::myawsbucket-75139724085
AWS_REGION=us-east-1
AWS_PROFILE=default
JWT_SECRET=mysecretstring
URL=http://localhost:8100